<div class="panel bg-white dark:bg-gray-800 dark:text-white p-4 rounded-md shadow">
    <div class="mb-5">
        <h5 class="text-lg font-semibold dark:text-white-light">{{ 'cariyonetimi' | translate }}</h5>
    </div>

    <!-- Cari Ekleme Formu -->
    <div class="space-y-2 font-semibold">
        <div id="step1" class="rounded border border-[#d3d3d3] dark:border-[#1b2e4b]">
            <button type="button"
                class="flex w-full items-center p-4 text-white-dark dark:text-gray-100 dark:bg-[#1b2e4b]"
                [ngClass]="{ '!text-primary': accordians3 === 1 }"
                (click)="accordians3 === 1 ? (accordians3 = null) : (accordians3 = 1)">
                {{ 'Cari Ekleme' | translate }}
            </button>
            <div [@slideDownUp]="accordians3 !== 1" class="accordion-content">
                <div
                    class="space-y-2 border-t border-[#d3d3d3] dark:border-[#1b2e4b] p-4 text-white-dark dark:text-gray-200">

                    <!-- Sekme Başlangıcı -->
                    <div class="mb-5">
                        <div class="mt-3 flex flex-wrap border-b border-white-light dark:border-[#191e3a]">
                            <a id="step2" href="javascript:;"
                                class="-mb-[1px] block border border-transparent p-3.5 py-2 !outline-none transition duration-300 hover:text-primary dark:hover:border-b-black"
                                [ngClass]="{ '!border-white-light !border-b-white text-primary dark:!border-[#191e3a] dark:!border-b-black': isActiveTab('genel') }"
                                (click)="setActiveTab('genel')">
                                {{ 'generalinformation' | translate }}
                            </a>
                            <a id="step3" href="javascript:;"
                                class="-mb-[1px] block border border-transparent p-3.5 py-2 !outline-none transition duration-300 hover:text-primary dark:hover:border-b-black"
                                [ngClass]="{ '!border-white-light !border-b-white text-primary dark:!border-[#191e3a] dark:!border-b-black': isActiveTab('detay') }"
                                (click)="setActiveTab('detay')">
                                {{ 'details' | translate }}
                            </a>
                        </div>
                    </div>

                    <!-- Genel Bilgiler Sekmesi -->
                    <div *ngIf="isActiveTab('genel')">
                        <form [formGroup]="addCariForm" class="grid grid-cols-1 md:grid-cols-3 gap-4">
                            <!-- Cari Kodu -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'carikodu' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="cariKodu"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Cari Adı -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'cariAdi' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="cariAdi"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Vergi No -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'vergiNo' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="vergiNo"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Vergi Dairesi -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'vergidairesi' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="vergiDairesi"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Açıklama -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'aciklama' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="aciklama"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Email -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'email' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="email"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Telefon -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'tel' | translate }}
                                </label>
                                <input type="text" formControlName="tel"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Fax -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'fax' | translate }}
                                </label>
                                <input type="text" formControlName="fax"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Yetkili -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'yetkili' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="yetkili"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Adres -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'adres' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="adres"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Aktif Mi -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'aktifMi' | translate }}
                                </label>
                                <input type="checkbox" formControlName="aktifMi"
                                    class="form-checkbox h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring focus:ring-blue-200 focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Muhasebe Kodu -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'muhasebeKodu' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="muhasebeKodu"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Ticaret Sicil No -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'ticSicilNo' | translate }} <span style="color:red;">*</span>
                                </label>
                                <input type="text" formControlName="ticSicNo"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>

                            <!-- Vade -->
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">
                                    {{ 'vade' | translate }}
                                </label>
                                <input type="number" formControlName="vade"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>
                        </form>
                    </div>


                    <!-- Detaylar Sekmesi -->
                    <div *ngIf="isActiveTab('detay')">
                        <!-- <form [formGroup]="addCariForm" class="grid grid-cols-1 md:grid-cols-2 gap-4">

                           <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">{{ 'temsilciKodu' | translate
                                    }}</label>
                                <input type="text" formControlName="temsilciKodu"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">{{ 'temsilciAdi' | translate
                                    }}</label>
                                <input type="text" formControlName="temsilciAdi"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">{{ 'sektorKodu' | translate
                                    }}</label>
                                <input type="text" formControlName="sektorKodu"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">{{ 'sektorAdi' | translate
                                    }}</label>
                                <input type="text" formControlName="sektorAdi"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">{{ 'bolgeKodu' | translate
                                    }}</label>
                                <input type="text" formControlName="bolgeKodu"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">{{ 'bolgeAdi' | translate
                                    }}</label>
                                <input type="text" formControlName="bolgeAdi"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">{{ 'dovizliMuhasebeKodu' |
                                    translate }}</label>
                                <input type="text" formControlName="dovizliMuhasebeKodu"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div>
                            <div class="form-group">
                                <label class="font-medium text-black dark:text-gray-200">{{ 'odemeVadesi' | translate
                                    }}</label>
                                <input type="text" formControlName="odemeVadesi"
                                    class="form-input mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                            </div> 
                        </form>-->
                    </div>

                    <!-- Form Eylemleri -->
                    <div class="form-group flex justify-end space-x-2 mt-4 md:col-span-2">
                        <button type="button" class="btn btn-success px-6 py-2 flex items-center" (click)="saveCari()"
                            [disabled]="addCariForm.invalid" *ngIf="editingCariId">
                            {{ 'update' | translate }}
                        </button>
                        <button type="button" class="btn btn-primary px-6 py-2 flex items-center" (click)="saveCari()"
                            [disabled]="addCariForm.invalid" *ngIf="!editingCariId">
                            {{ 'save' | translate }}
                        </button>
                        <button type="button" class="btn btn-secondary px-6 py-2 flex items-center"
                            (click)="resetForm()">
                            {{ 'Yeni Cari' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  class="panel mt-6 p-4 bg-white dark:bg-gray-800 dark:text-white rounded-md shadow">
        <div class="mb-5 flex flex-wrap gap-5 md:flex-row md:items-center">
            <h5 class="text-lg font-semibold dark:text-white-light"> {{ 'Cari Yönetimi' | translate }}</h5>
            <div class="flex items-center ltr:ml-auto rtl:mr-auto gap-4">
                <!-- Arama Alanı -->
                <input [(ngModel)]="searchTerm" type="text" placeholder="{{ 'search' | translate }}..."
                    class="form-input w-64 border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />

                <!-- Pasifleri Göster Dropdown -->
                <div class="flex items-center gap-2">
                    <label class="text-sm font-medium dark:text-white-light">
                        {{ 'showpassives' | translate }}
                    </label>
                    <select
                        class="custom_select w-full cursor-pointer border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
                        [(ngModel)]="selectedStatus" (change)="applyFilter()">
                        <option value="all">{{ 'Tümü' | translate }}</option>
                        <option value="aktif">{{ 'Aktif' | translate }}</option>
                        <option value="pasif">{{ 'Pasif' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="datatable bg-white dark:bg-gray-800 dark:text-white rounded-md shadow">
            <ng-datatable [rows]="filteredCariler" [columns]="cols" [sortable]="true" [search]="searchTerm"
                [pageSize]="itemsPerPage" [stickyHeader]="true" class="whitespace-nowrap"
                firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="w-4.5 h-4.5 rtl:rotate-180"><path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'
                lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="w-4.5 h-4.5 rtl:rotate-180"><path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'
                previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="w-4.5 h-4.5 rtl:rotate-180"><path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'
                nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="w-4.5 h-4.5 rtl:rotate-180"><path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'>

                <ng-template slot="aktif" let-value="data">
                    {{ value.statu === true ? 'Aktif' : 'Pasif' }}
                </ng-template>
                <ng-template slot="actions" let-value="data">
                    <div class="flex items-center gap-2 justify-start">
                        <button type="button" class="btn btn-danger rounded-full" (click)="deleteCari(value._id)">
                            <icon-trash class="h-5 w-5 shrink-0"></icon-trash>
                        </button>
                        <button type="button" class="btn btn-warning rounded-full" (click)="editCari(value)">
                            <icon-pencil class="h-5 w-5 shrink-0"></icon-pencil>
                        </button>
                    </div>
                </ng-template>
            </ng-datatable>
        </div>

    </div>


</div>